VITE_SUPABASE_URL=https://vtzhjyixkbmspfrxfgis.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ0emhqeWl4a2Jtc3BmcnhmZ2lzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUzMDQ4MzcsImV4cCI6MjEwMDg4MDgzN30.GOqLdNAe-AvlHPZGhwVzGxVqQaXSYzd6S0DBgzKGnss